h1 { 
      background-color: #eee8e8 ;
      border-color:  #ffffff ;
      font-weight: bold ;
      color: c00000 ;
      width: 100%;
      border-width: 0;
      padding: 6
   }
h2 { font-style: italic }

.titleBox {
      font-size: 150%;
      text-align: center ;
      color: 000060 ;
      width: 100%;
      background-color: #f8f8ff ;
      border-color:  #ffffff ;
      border-width: 0;
      padding: 6
   }

.normalsize {
      font-size: 80%;
   }